h3{color:green;}

.card{width:400px; height:400px; border:2px solid red; background:url('../images/p2.jpg'); repeat:no-repeat; background-size:cover; }
.card-img img{width:400px; height:100px;}
.card-header{text-align:center;}
#font{font-family: 'DynaPuff', cursive; font-size: 20px; color:red;}
.card-content{overflow-x:scroll; width:400px; height:200px;}
.bck{width:300px; height:300px;}
.bck img{background-size:cover; repeat:no-repeat;}
